---
- name: This is a hello-world example
  hosts: all
  become: true
  gather_facts: False
  tasks:
    - name: APT Update
      apt:
        update_cache: yes

    - name: Update all packages to their latest version
      apt:
        name: "*"
        state: latest

    - name: Upgrade all apt packages
      apt: upgrade=dist force_apt_get=yes
    
    - name: Add Sudo User named - aksuser
      user: 
        name: aksuser
        group: sudo
        password: AksUser%45hY

    - name: Install a list of packages
      apt:
        pkg:
        - openssl
        - r-base
        - gdebi-core
        - tree
        - nano
        - ca-certificates
        - curl
        - apt-transport-https
        - lsb-release
        - gnupg

    - name: Download rstudio-server-2021.09.0-351-amd64.deb
      ansible.builtin.get_url:
        url: https://download2.rstudio.org/server/bionic/amd64/rstudio-server-2021.09.0-351-amd64.deb
        dest: /tmp/rstudio-server-2021.09.0-351-amd64.deb
        mode: '0777'
        
    - name: Install a rstudio deb package
      apt:
        deb: /tmp/rstudio-server-2021.09.0-351-amd64.deb
    
    - name: Execute the command for Azure Cli Installation
      script:
       cmd: install-azure-cli.sh > install-azure-cli.log
      
    - name: APT Update
      apt:
        update_cache: yes

    - name: Install azure cli
      apt:
        pkg:
        - azure-cli
        
        
    - name: Install "kubectl" with option --classic
      snap:
        name: kubectl
        classic: true
            